/**
* Author: Daniel Giove
*/

body {background-image: linear-gradient(rgb(178, 179, 182), rgb(24, 117, 113));
      display: flex; 
      flex-flow:column}

#header, #d11 {background-color: indigo; 
             height: 2.5em; 
             width: 100%;   
             color: white; 
             display: flex; 
             justify-content: center;
             font-size: 18px;
             font-weight: normal;}

#d1 {background-color: rgb(153, 192, 153);
     display: flex; 
     align-items: baseline; 
     border: 3px solid indigo; 
     width: auto;}

#d2 {margin: 0.5em; 
     padding: 0.5em; 
     margin-bottom: 1em; 
     background-color: peachpuff; 
     border-radius: 0.2em;
     width: 100%;}

#d3 {display: flex;
     border: 1px dotted black;
     margin-top: 0.8em;}

#d4, #d5, #d6, #d7 {border: 1px dotted; 
                    margin: 1em; 
                    padding:0.5em; 
                    width: 24%;
                    font-family: "Comic Sans MS";
                    font-size: 12px;
                    font-weight: bold;}

#fs {border: 1px solid black; 
    font-display: white;}

#fields {background-color: white; 
        font-family: "Comic Sans MS";}

#add, #reset {background-color: rgb(21, 21, 141); 
              border-left: 2px solid white; 
              border-top: 2px solid white; 
              border-radius: 0.2em; 
              font-family: Arial; 
              font-size: 14; 
              font-weight: bold; 
              color: white; 
              height: 2em; 
              width: 15%; 
              margin: 1em;}

#add:hover, #reset:hover, #write:hover, #append:hover, #load:hover, #clear:hover {background-color: darkslateblue;}

#d8, #d9 {display: flex; 
         justify-content: center; 
         flex-wrap: row;}

#write, #append, #load, #clear {background-color: rgb(21, 21, 141); 
                                border-left: 2px solid white; 
                                border-top: 2px solid white; 
                                border-radius: 0.2em; 
                                font-family:  Arial; 
                                font-size: 14; 
                                font-weight: bold; 
                                color: white; 
                                height: 2em; 
                                width: 15%; 
                                margin: 1em;}

#d10 {display: flex; 
    justify-content: center;}

#query {height: 2em; 
       width: 75%;}

#wb1, #wb2, #wb3, #wb4, #wb5, #wb6, #wb7, #wb8 {background-color: rgba(241, 239, 239, 0.977); 
                                               width: auto; 
                                               padding: 0.3em;
                                               margin: 0.1em;
                                               display: flex;}

#t1 {background-color: white; 
    width: auto;}

#th1, #th2, #th3, #th4, #th5, #th6, #th7, #th8, #th9, #th10 {background-color: rgb(25, 66, 25); 
                                                             color: white;}

#PID, #Owner, #title, #cat, #rate, #hour, #stat, #desc {height:auto; 
                                                        border: 1.2px solid black;}

#bdr1, #bdr2, #bdr3, #bdr4, #bdr5, #bdr6, #bdr7, #bdr8 {border: 1.1px dotted black;}

#desc {width: auto;}


/*
 * Author: Manil Hammadouche
 */
img {max-width: 20px;
    max-height: 20px;}

#sort1, #sort2, #sort3, #sort4, #sort5, #sort6, #sort7, #sort8 {
    background-color: rgb(25, 66, 25);
    border: none;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    color: white;
    font-size: 16;    
}
#sort1:hover, #sort2:hover, #sort3:hover, #sort4:hover, #sort5:hover, #sort6:hover, #sort7:hover, #sort8:hover {
    background-color: beige;
}

#add:disabled {background: grey;}

#saveBtn {background-color: brown; 
    border-left: 2px solid white; 
    border-top: 2px solid white; 
    border-radius: 0.2em; 
    font-family: Arial; 
    font-size: 14; 
    font-weight: bold; 
    color: white; 
    height: 2em; 
    width: 60%; 
    margin: 1em;}

caption {background-color: white;
        color:maroon;
        font-weight: bold;
        text-align: left;
        padding: 3px;}

#cell0, #cell1, #cell2, #cell3, #cell4, #cell5, #cell6, #cell7 {
    font-family: 'Times New Roman', Times, serif; 
    font-size: 16px; 
}

table {
    border-width: 3px;
}

#cell1, #cell2 {
    width:100px;
}
#cell5, #cell6 {
    width: 40px;
}